@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Cores */
  --primaria: rgba(238, 116, 18, 1);         /* Laranja */
  --primaria-hover: rgba(250, 194, 150, 1);  /* Laranja Claro */
  --secundaria: rgba(58, 145, 175, 1);       /* Azul */
  --secundaria-hover: rgba(74, 180, 220, 1); /* Azul Claro */
  --fundo-card: rgba(248, 244, 230, 1);      /* Bege */
  --texto-principal: rgba(51, 51, 51, 1);    /* Grafite */
  --texto-secundario: rgba(102, 102, 102, 1);/* Cinza */
  --branco: rgba(255, 255, 255, 1);
  
  /* Fontes */
  --display-s-font-family: "Roboto", Helvetica;
  --body-l-font-family: "Roboto", Helvetica;
}